################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Customer Service Complaint Automation Tool/v16/Server/sqlite3
